#root {
    margin-top: 10px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}
.card {
    border: 1px solid #f0f0f0;
    padding: 10px 20px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.user {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 700;
}
.user-email {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: auto;
    color: #5d5c5c;
}
.button-delete:hover {
    cursor: pointer;
}
.title {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #5d5c5c;
}
.text {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #5d5c5c;
}