body{
  font-family: "Roboto", sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    @media (min-width: 768px) {
      max-width: 85%;
    }
    @media (min-width: 1200px) {
      max-width: 75%;
    }
  }
  .banner-wrap{
    margin-top: 23px;
    @media (min-width: 768px) {
      margin-top: 43px;
    }
    @media (min-width: 1200px) {
      margin-top: 51px;
    }
  }
  .banner-img{
    width: 100%;
  }
  .section-title{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: $mainColor;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }