.instagram{
    padding-top: 38px;
    padding-bottom: 38px;
    @media (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 59px;
      background-color: #F7F7F7;
  }
  }
  .instagram__section-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .instagram__link{
    display: none;
    @media (min-width: 768px) {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      line-height: 22px;
      color: $mainColor;
    }
  }
  .instagram__picture-wrapper{
    margin-top: 13px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    & img:not(:first-child){
      display: none;
    }
    @media (min-width: 768px){
      margin-top: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      & img:not(:last-child){
        display: block;
      }
    }
    @media (min-width: 1200px){
      margin-top: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      & img:last-child {
      display: block;
    }
    }
  }
  .instagram__picture{
    width: 100%;
  }
  